.btn-primary {
    background: #007E92!important;
}

.btn.btn-primary{
    padding: 10px 15px!important;
    border-radius: 10px;
    font-weight: 300;

    background: #007E92!important;
}

.btn-danger {
    background: #007E92!important;
}

.btn.btn-danger{
    padding: 10px 15px!important;
    border-radius: 10px;
    font-weight: 300;
}

.pagination .page-item.active .page-link {
    background: #007E92!important;
}


body, h3{
    font-family: 'EB Garamond', serif;
    }

body { padding-top: 80px!important; }