{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        {% include 'template_blocks/head_css.html' %}

        {% block extra_head %}
        {% endblock %}
    </head>
    <body>
    {% include 'template_blocks/navbar.html' %}
    {% block body %}
    <style>
        body, h3{
    font-family: 'EB Garamond', serif;
    }
    </style>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}

    {% include 'template_blocks/javascript.html' %}
    {% block extra_scripts %}
    {% endblock extra_scripts %}
    {% include 'template_blocks/footers.html' %}
    </body>
</html>
