{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="col-xs-12 col-md-8 col-lg-8 col-sm-12 mb-1 mx-auto">
        <div class="card text-white mb-2" style=" background:#007E92;">
        <div class="h4 card-header">post by {{ view.kwargs.username|title }} - ({{ page_obj.paginator.count }})</div>
    </div>
</div>
{% if object_list %}
{% for post in object_list %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-lg-8 col-sm-12 mb-1 mx-auto">
            <div class="card my-1 bordered border-success">
                <div class="card-header"><a href="{{ post.get_absolute_url }}">{{ post.category }}</a><a href="{% url 'blog:user-posts' post.author.username %}" class="float-right">{% if post.author.is_superuser %}<img src="{% static 'images/dilip.png' %}" height="40px"; width="40px";>{% else %}<img src="{% static 'images/default.png' %}" height="40px"; width="40px";>{% endif %} By : {{post.author}}</a></div>
                    <li class="list-group list-group-flush">
                    <li class="list-group-item h4 strong">{{ post.title }}{% if request.user == post.author %}
                    <div><a class="float-right btn btn-sm btn-primary waves-effect waves-light " href="{{post.get_update_url}}">Update</a>
                    <a class="float-right btn btn-sm btn-danger waves-effect waves-light " href="{{post.get_delete_url}}">Delete</a></div>{% endif %}</li>
                    <li class="list-group-item"><a href="{{ post.get_absolute_url }}">{{ post.content|truncatechars:20 }}</a></li>
                    <li class="list-group-item text-right">Published On : {{ post.created_date|date:"F d, Y" }}</li>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% endif %}


{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item ">
            {% if page_obj.has_previous %}
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" tabindex="-1">Prev</a>
            {% endif %}
        </li>
        {% for num in page_obj.paginator.page_range %}
        {% if page_obj.number == num %}
        <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% elif num > page_obj.number|add:'-2' and num < page_obj.number|add:'2' %}
        <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}
        <li class="page-item">
            {% if page_obj.has_next %}
            <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
            {% endif %}
        </li>
    </ul>
</nav>
{% endif %}
{% endblock content %}